* {
    box-sizing: border-box;
    margin: 0;
}

#category{
    /* background-color: rgb(235, 245, 235); */
}
.department{
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size:1.2rem ;
}
#menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.3rem;
    height: 50px;
}

#menu li:hover {
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 10px;
    transition: all 400ms ease;
    padding: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    /* width: 27%; */
    /* box-shadow: 0 0  5px black; */
}
.searchInput{
    width: 40%;
}
.searchInput input{
    width: 100%;
}

.discount {
    background: rgb(235, 245, 235);
    color: rgb(86, 130, 66);
    width: 55px;
    text-align: right;
    border-radius: 5px;
    align-items: end;
    font-size: 0.5rem;
}

.card {
    box-shadow: 0 0 5px black;
    width: 27%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: center;
}
.myImg>img{
    /* object-fit: cover; */
}