* {
    box-sizing: border-box;
    margin: 0;
}


#menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#menu li:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: all 400ms ease;
    padding: 5px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    /* box-shadow: 0 0  5px black; */
}

.discount {
    background: rgb(235, 245, 235);
    color: rgb(86, 130, 66);
    width: 55px;
    text-align: right;
    border-radius: 5px;
    align-items: end;
    font-size: 0.5rem;
}

.card {
    box-shadow: 0 0 5px black;
    width: 27%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: center;
}