#section1{
    width: 30rem;
    margin: auto;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUF5632qQo29P_knZ2E8Twv3pGP3ohlBian04bOoWv86vgvfClGD8Cf9TQoTWyGJq92U&usqp=CAU);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#headtitle{
    font-size: xx-large;
    color: black;
    text-align: center;
}
#task{ 
    border-radius:5px 0 0 5px ;
    border: none;
    border-bottom: 2px solid orange;
    width: 20rem;
}
#add {
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    padding: 15px;
    background-color: orange;
    width: 4rem;
}
#inputDiv {
    display: flex;
    justify-content: center;
}

#listTitle {
    text-align: center;
    font-size: 35px;
}

.taskInput{
    display: none;
}
.icons{
    display: flex;
}

.taskCheck {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: auto;
}

.BottomInput {
    border: none;
    width: 10rem;
    height: 20px;
    background: none;
}

.editI{
    background-image: url(https://www.flaticon.com/free-icon/draw_61456?term=edit&page=1&position=13&origin=search&related_id=61456);
    width: 20px;
    height: 20px;
}